@import 'styles/_colors.scss';
.searchSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    font-family: 'Inter', sans-serif;
    color: $text-color;
  }
  .search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .findBox {
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
