.header {
  display: flex;
  align-items: center;
  gap: 103px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  .logoSection {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 35px;
    .logo {
      width: 150px;
      height: 63px;
      position: relative;
      display: block;
    }
  }
  .searchSection {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
